<!DOCTYPE html>
<html>
  <head>
    <title>{{job['title']}} - RGUKT Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    
    {% include 'navbar.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">RGUKT JOB NOTIFICATIONS</h1>
    <h3>{{job['title']}}</h3>
    <h3>{{job['location']}}</h3>
    <h3>Responsibilities</h3>
    <ul>
        <li>{{job['responsibilities']}}</li>
    </ul>
    <h3>Requirements</h3>
    <ol>
      <li>{{job['requirements']}}</li>
    </ol>
    <h3>Salary</h3>
    <p>{{job['currency']}}{{job['salary']}}</p>
    </div>
    {% include 'footer.html' %}
  </body>
  </html>